@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default, dark ;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #caeb66;
  --color-secondary: teal;
  --color-primary-content: #000000
}

body {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
}

.active{
  background-color: #caeb66;
  border-radius: 20px;
  color: #000000;
}

.links li a{
  border-radius: 20px;
}

@keyframes scale-in {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scale-in {
  animation: scale-in 0.25s ease-out forwards;
}
