@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark;
}

@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #caeb66; /* same primary for light */
  --color-secondary: #364153;
  --color-primary-content: #000000;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #caeb66; /* same primary for dark */
  --color-secondary: #99a1af;
  --color-primary-content: #000000;
}

body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
}

.active {
  background-color: #caeb66;
  border-radius: 20px;
  color: #000000;
}

.links li a {
  border-radius: 20px;
}

.dash .active{
  background-color: #caeb66;
  /* border-radius: 0px; */
}

@keyframes scale-in {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scale-in {
  animation: scale-in 0.25s ease-out forwards;
}